:root {
  --main-color: rgb(25, 133, 221);
  --second-color: rgb(0, 0, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: white;
}

body {
  background-color: rgb(22, 150, 255);
}

.container {
  /* display: flex;
    position: relative; */
  /* height: 100vh; */
}

/* Header ---------------------------------------------------------------------- */

.container .header {
  background-color: var(--second-color);
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  padding: 4%;
}

.container .header .title-container {
  width: fit-content;
}

.container .header .menu-toggle {
  position: absolute;
  right: 0;
  top: 0;
  padding: 3.5%;
  border-left: 1px solid white;
}

.container .header .menu-toggle .fa::before {
  font-size: 2em;
}

/* Main ------------------------------------------------------------------------ */

.container .main{
    margin-top: 10vh;
}

.container .main .daily-challenges .row {
  width: 100%;
  display: flex;
  margin: 6% auto;
}

.container .main .daily-challenges .row .card:last-child{
    margin-left: -0.4%;
}

.container .main .daily-challenges .row .card {
  margin: auto;
  background-color: white;
  width: 40%;
  border-radius: 10px;
}

.container .main .daily-challenges .row .card .challenge-img {
  width: 100%;
  padding: 5% 5% 0 5%;
}

.container .main .daily-challenges .row .card .card-body {
  /* height: 6vh; */
  border-top: 2px dotted var(--main-color);
}

.container .main .daily-challenges .row .card .card-body .challenge-name {
  color: var(--second-color);
  text-align: center;
  font-weight: 800;
  padding: 4%;
}

/* Footer ---------------------------------------------------------------------- */

.container .footer-filler{
    height: 7.5vh;
}

.container .footer {
  width: 100%;
  display: inline-flex;
  position: fixed;
  left: 0;
  bottom: 0;
}

.container .footer .button {
  margin: auto;
  width: 33.3%;
  text-align: center;
  background-color: black;
  font-weight: bold;
  padding: 6% 0;
}

.container .footer .button:first-child {
  border-right: 2px solid var(--main-color);
}

.container .footer .button:last-child {
  border-left: 2px solid var(--main-color);
}
